body {
	background: #3f51b5;
	color: #333;
	font-family: 'Roboto';
}

header {
	text-align: center;
	text-transform: uppercase;
}

svg {
	fill: #fff;
}

h1, h2 {
	margin: 0.3rem !important;
}

a {
	text-decoration: none;
}

div {
	margin: 7px 0;
}

.wrap {
	margin: 100px auto;
	width: calc( 100% - 1000px );
	padding: 20px;
	background: #fff;
	border-radius: 15px;
}

#app {
}
